{% extends "layout.html.twig" %}
{% block css %}
<link href="css/grid.css" rel="stylesheet">
{% endblock %}

{% block container %}
<h2>Förslag på boenden</h2>
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.villaakvarellen.se/">Villa Akvarellen</a>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            0523-57700
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            Gerlesborg
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
            Bokningsnummer 25618
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.skarholmensvandrarhem.se/">Skärholmens Vandrarhem</a>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            0523-51825
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            Gerlesborg
        </div>
        <div class="col-md-4 hidden-xs col-sm-4">
            &nbsp;
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.kaprifol.com/">Hotell Kaprifol</a>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            0523-55215
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            Hunnebostrand
        </div>
        <div class="col-md-4 hidden-xs col-sm-4">
            &nbsp;
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.svenskalag.se/userpage.asp?teamID=7401&UserPageID=14600">Camping Bovallstrand</a>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            0523-51223
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            Bovallstrand
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
            Leifs mobilnummer: 070-5616277
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.stugknuten.com/stuga.asp?stugid=12621">Hus vid havet (stugknuten)</a>
        </div>
        <div class="col-md-2 hidden-xs col-sm-2">
            &nbsp;
        </div>
        <div class="col-md-2 hidden-xs col-sm-2">
            &nbsp;
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
            7+2 bäddar
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.stugknuten.com/stuga.asp?stugid=5100">Hus nära Evja (stugknuten)</a>
        </div>
        <div class="col-md-2 hidden-xs col-sm-2">
            &nbsp;
        </div>
        <div class="col-md-2 hidden-xs col-sm-2">
            &nbsp;
        </div>
        <div class="col-md-4 hidden-xs col-sm-4">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.nordensark.se/hotell/">Nordens ark</a>
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
            0523-795 45/0523-795 46
        </div>
        <div class="col-md-4 hidden-xs col-sm-4">
            &nbsp;
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 col-xs-12 col-sm-4">
            <a href="http://www.vann.se/">Vann</a>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-2">
            0523-442 00
        </div>
        <div class="col-md-2 hidden-xs col-sm-2">
            &nbsp;
        </div>
        <div class="col-md-4 col-xs-12 col-sm-4">
            info@vann.se
        </div>
    </div>
    
    <p>Det finns möjlighet att ställa tält, husbilar och husvagnar vid Kungekasen, 
        men detta bör meddelas via <a href="mailto:brollopkungekasen@gmail.com">mailen</a> och vi kan inte garantera tillgång till faciliteter som kräver rinnande vatten.</p>
    <p>Det finns fler boenden i området som går att hitta via det världsomspännande nätverket Internet.</p>
    
{% endblock %}