{% extends "layout.html.twig" %}
{% block css %}
{% endblock %}

{% block container %}
    <h2>Kyrkan</h2>
    <p>
    Ni kan även ringa oss eller någon släkting som ni tror hittar.
    Kör så att ni hittar E6, kör norrut, förutsatt att du är söder om Dingle. 
    Kör av vid Dingle. Sväng från Dingle, och håll er på vägen tills ni kommer till Bovallstrand. 
    Kyrkan ligger sedan snett mot skolan, strax efter dörrbutiken, ovanför byn. Med utsikt över stan.
    </p>
    <p><a
                href="https://www.google.com/maps/place/Bovallstrand+Kyrka/@58.4745195,11.3257908,17z/data=!3m1!4b1!4m2!3m1!1s0x4645b1045c47cae5:0x988b5ea4eeb8ace0"
                >Bovallstrand kyrka på Google Maps</a>
    </p>
    </p>

    <h2>Evja Folkets Hus</h2>
    <p>Ligger mellan Kungekasen och Bovallstrand. Efter vigseln kommer färden gå gemensamt hit.</p>
    <p>Evja Folkets Hus ligger ovanför Tosteröds Vatten, vid riksväg 174 mellan Dingle och Bovallstrand.
        Från Bovallstrand 5 km, från Dingle 13 km.<br />
        Från E6, sväng av vid Dinglemotet, kör västerut på väg 174 mot Bovallstrand.<br />
        Från Lysekil, kör väg 162 till Hallinden, sväng vänster mot Nordens Ark. Vid Strandängs Bro (längst in i Åbyfjorden), 
        sväng höger mot Hamburgsund, följ sedan vägen till skylt "Bärfendal 6". Sväng höger, kör förbi Ävja Stenbrott 
        och ut till riksväg 174. Sväng vänster, kör ca 1 km till Evja Folkets Hus.
    </p>
    <p><a
                href="http://kartor.eniro.se/m/nKM2g"
                >Evja Folket hus på Eniro</a>
    </p>
    <h2>Kungekasen</h2>
        <p>Ligger längs väg 174 mellan E6 och Bovallstrand.</p>
        <p><a 
            href="https://www.google.com/maps/place/KUNGEKASEN/@58.4909975,11.4138245,17z/data=!3m1!4b1!4m2!3m1!1s0x4645b1e372cd608f:0x134ea257c9bef9f6"
            >Kungekasen på Google Maps</a>
        </p>
        
    </p>

{% endblock %}