{% extends "layout.html.twig" %}
{% block css %}
{% endblock %}

{% block container %}
    <h2>Kyrkan</h2>
    <p>
    Ni kan även ringa oss eller någon släkting som ni tror hittar.
    Kör så att ni hittar E6, kör norrut, förutsatt att du är söder om Dingle. 
    Kör av vid Dingle. Sväng från Dingle, och håll er på vägen tills ni kommer till Bovallstrand. 
    Kyrkan ligger sedan snett mot skolan, strax efter dörrbutiken, ovanför byn. Med utsikt över stan.
    </p>

    <h2>Evja Folkets Hus</h2>
    <p>Ligger mellan Kungekasen och Bovallstrand. Efter vigseln kommer färden gå gemensamt hit.</p>
    <p>[Google karta här]</p>
    
    <h2>Kungekasen</h2>
        <p>Ligger längs väg 174 mellan E6 och Bovallstrand.</p>
        <p>[Google karta här]</p>
        
    </p>

{% endblock %}