{% extends "layout.html.twig" %}

{% block jumbotron %}
<div class="jumbotron">
    <div class="container">
        <h1>Bröllop Susanna &amp; Christian </h1>
        <div style="color:white; font-size: 60px;">
            O.S.A senast 5 maj!
        </div>
    </div>
</div>
{% endblock %}

{% block container %}
<div class="row">
    <div class="col-md-4">
        <h2>När?</h2>
        <p><strong>Lördag 5 juli 2014 16:00.</strong></p>
        <p>
            Vi följer nuvarande tideräkning i det land där vi befinner oss för tillfället, vilket händelsevis 
            också är samma land som orten vi gifter oss i ligger. Vi ber er följa samma när ni bokar boende 
            och tar ledigt från jobbet.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Var?</h2>
        <p>Vigseln kommer äga rum i <strong>Bovallstrands Kyrka</strong>. En mysig, vit träkyrka belägen ovanför byn med 
            utsikt över havet. Det finns parkering vid kyrkan och även en kort bit längre bort, på höger 
            sida, mitt emot skolan, vid källsorteringen!
            Efter vigseln hjälper lämplig person eller personer till att lösa lite logistik kring bilar, 
            parkering och vägbeskrivning till <strong>Evja Folkets Hus</strong>. Det bär av direkt mot festlokalen efter vigseln!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Hur?</h2>
        <p>Viktigast är att vi vill att ni kommer och är med på vår dag. Ni bör dock komma i kostym: mörk, ljus, linne eller ylle. 
            Ha på er någonting fint! Föredrar ni klänning bör den går nedanför knäna, den får vara lång. Förutom det hoppas vi att 
            besväret inte varit alltför stort vad gäller barnvakt, att ni har med er ert glada humör, danstassarna och stämbanden. 
            Mungipor som pekar nedåt undanbedes. Tårar vid lämpliga tillfällen går fint. Resten lämnar vi till vår eminenta toastmaster 
            och ert sunda förnuft.
        </p>
        <p>Färden kommer gå gemensamt från kyrkan till Evja Folkets hus direkt efter vigseln.</p>
        <p><strong>Klädsel</strong> mörk kostym. (ljusare sommarkostym funkar också utmärkt!) </p>
        <p>Specialkost och dryck specifieras när ni <strong>O.S.A:r.</strong></p>
        <p>BARN är välkomna på vigseln och brunchen dagen efter, men festen vill vi fira med er vuxna.</p>
    </div>
    <div class="col-md-4">
        <h2>Brunch</h2>
        <p>I Gunnel & Thosses anda blir det brunch på Kungekasen dager efter. Från kl. 13 står 
        dörrarna öppna. <strong>O.S.A även till detta, tack!</strong></p>
    </div>
</div>
{% endblock %}