{% extends "layout.html.twig" %}
{% block css %}
{% endblock %}

{% block container %}
    <h2>O.S.A</h2>
    <p>
    O.S.A i första hand till mailen <a href="mailto:brollopkungekasen@gmail.com">brollopkungekasen@gmail.com</a>
    </p>

    <h2>Tal</h2>
    <p>Om du önskar säga några ord eller på annat sätt orera meddela <br />toast master <a href="mailto:Daniel Sjöström <dsjostrom@gmail.com">Daniel Sjöström &lt;dsjostrom@gmail.com&gt;</a>.
    
    <h2>Tärna & Marskalk</h2>
        <p><strong>Tärna</strong> Maria Undén Morein <a href="mailto:maria.unden@gmail.com ">maria.unden@gmail.com</a></p>
        <p><strong>Marskalk</strong> Robin Lindholm <a href="mailto:robin.lindholm@gmail.com">robin.lindholm@gmail.com</a></p>
        
    </p>

{% endblock %}